* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chivo", sans-serif;
}

.container {
  margin: auto;
  padding: 0 32px;
  max-width: 1200px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

nav {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1111111111111;
  background-color: transparent;
}
nav .navcon {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .navcon i {
  display: none;
  font-size: 24px;
  color: white;
}
nav .navcon .fullmenu {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}
nav .navcon .fullmenu a,
nav .navcon .fullmenu li {
  font-weight: 600;
  color: white;
  cursor: pointer;
}
nav .navcon .fullmenu li {
  position: relative;
}
nav .navcon .fullmenu li .boxmenu {
  background-color: white;
  width: 120px;
  height: 80px;
  padding-left: 5px;
  position: absolute;
  left: 0;
  top: 30px;
  opacity: 0;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
nav .navcon .fullmenu li .boxmenu a {
  color: forestgreen;
  transition: all 0.5s ease;
}
nav .navcon .fullmenu li .boxmenu a:hover {
  color: aquamarine;
  margin-left: 5px;
}
nav .navcon .fullmenu li:hover .boxmenu {
  top: 40px;
  opacity: 1;
  z-index: 100;
}
nav .navcon .fullmenu button {
  background-color: #10C98F;
  color: white;
  border: none;
  width: 150px;
  height: 50px;
  cursor: pointer;
}
nav .menu {
  width: 100%;
  background-color: #10C98F;
  padding: 50px 0;
  position: relative;
  top: -500px;
  transition: all 0.5s ease;
}
nav .menu .menucon {
  width: 100%;
}
nav .menu .menucon .fullmenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
nav .menu .menucon .fullmenu a,
nav .menu .menucon .fullmenu li {
  font-weight: 500;
  color: white;
  cursor: pointer;
}
nav .menu .menucon .fullmenu a:hover,
nav .menu .menucon .fullmenu li:hover {
  color: aquamarine;
}
nav .menu .menucon .fullmenu li {
  position: relative;
  transition: all 0.5s ease;
}
nav .menu .menucon .fullmenu li .boxmenu {
  width: 110px;
  padding-left: 15px;
  position: absolute;
  left: 0;
  top: 20px;
  opacity: 0;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
nav .menu .menucon .fullmenu li .boxmenu a {
  transition: all 0.5s ease;
}
nav .menu .menucon .fullmenu li .boxmenu a:hover {
  color: aquamarine;
  margin-left: 5px;
}
nav .menu .menucon .fullmenu li:hover .boxmenu {
  top: 30px;
  opacity: 1;
  z-index: 100;
}
nav .menu .menucon .fullmenu li:hover {
  margin-bottom: 90px;
}
nav .menu .menucon .fullmenu button {
  background-color: aquamarine;
  color: white;
  border: none;
  width: 150px;
  height: 50px;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  nav .navcon .fullmenu {
    display: none;
  }
  nav .navcon i {
    display: block;
  }
}
.section1 {
  width: 100%;
  background: linear-gradient(rgba(16, 201, 143, 0.4), rgba(16, 201, 143, 0.4)), url("https://preview.colorlib.com/theme/easylo/assets/img/hero/h1_hero1.jpg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 150px;
}
.section1 .sec1con {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 50px 32px;
}
.section1 .sec1con .sec11 {
  width: calc(50% - 30px);
  min-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
}
.section1 .sec1con .sec11 h1 {
  font-size: 62px;
  position: relative;
  margin-bottom: 20px;
  line-height: 1.1;
  padding-bottom: 29px;
}
.section1 .sec1con .sec11 h1::after {
  content: "";
  position: absolute;
  width: 110px;
  bottom: 0px;
  height: 3px;
  left: 0;
  background: white;
}
.section1 .sec1con .sec11 p {
  font-size: 24px;
  line-height: 1.6;
  font-weight: 500;
}
.section1 .sec1con .sec11 button {
  border: 2px solid white;
  padding: 17px 45px;
  width: 250px;
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  background: none;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s ease;
}
.section1 .sec1con .sec11 button:hover {
  background-color: #10C98F;
  border: 2px solid #10C98F;
}
.section1 .sec1con .sec12 {
  width: calc(40% - 30px);
  min-height: 500px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 45px 35px 35px 35px;
  justify-content: space-between;
}
.section1 .sec1con .sec12 p {
  color: #3F4854;
  font-size: 14px;
  line-height: 1.8;
  text-align: center;
}
.section1 .sec1con .sec12 div {
  width: 100%;
  position: relative;
}
.section1 .sec1con .sec12 div h2 {
  color: #0F4332;
  font-size: 30px;
  display: block;
  font-weight: 700;
  margin-bottom: 6px;
  text-align: center;
}
.section1 .sec1con .sec12 div::before {
  content: "";
  position: absolute;
  width: 110px;
  bottom: -5px;
  height: 3px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  background: #10C98F;
}
.section1 .sec1con .sec12 label {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  color: #4C5753;
  padding-top: 15px;
  margin-bottom: 15px;
}
.section1 .sec1con .sec12 label span {
  color: #10C98F;
  font-size: 18px;
  font-weight: 600;
}
.section1 .sec1con .sec12 select {
  line-height: 30px;
  border: 1px solid #C9D6CB;
  height: 50px;
  width: 100%;
  color: #071112;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 0px;
  outline: none;
}
.section1 .sec1con .sec12 select option {
  background-color: #10C98F;
  line-height: 30px;
  height: 50px;
  width: 100%;
}
.section1 .sec1con .sec12 button {
  background: #10C98F;
  height: 50px;
  padding: 10px 36px;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .section1 .sec1con {
    flex-direction: column;
  }
  .section1 .sec1con .sec11 {
    width: 100%;
  }
  .section1 .sec1con .sec12 {
    width: 80%;
  }
}/*# sourceMappingURL=index.css.map */